<div>
    <div class="col s12" style="margin:5px">
        <a class="btn-floating waves-effect waves-light btn-small red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Get Route" ng-click="trail.getRoute()"><i class="material-icons left">directions_walk</i></a>
       
    </div>
    <div class="col s8">
        <div class="map-view" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{trail.googleMapUrl}}">
            <ng-map id="map" center="[1.283943, 103.843486]" zoom="14" pan-control="false" map-type-control="false" styles="[{stylers: [{ saturation: -100 }]}]">
                <!--styles="[{stylers:[{hue:'#2c3e50'},{saturation:250}]},{featureType:'road',elementType:'geometry',stylers:[{lightness:50},{visibility:'simplified'}]},{featureType:'road',elementType:'labels',stylers:[{visibility:'off'}]}]"-->
            </ng-map>
        </div>
    </div>
    <div class="col s4">
        <div id="directions-panel"></div>
    </div>
    
    <!-- Modal Structure -->
    <div id="info_modal" class="modal">
        <div class="modal-content">
          <h4>Quiz</h4>
          <p>You are near a location pin</p>
        </div>
        <div class="modal-footer">
          <a href="trail.submitQuiz()" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    

    <ul id="slide-out" class="side-nav">
        <div class="sidebar-background" style="background-image: url(../assets/img/cny_sidebar.jpeg) "></div>
        
        <div class="sidebar-logo">
            <i class='material-icons white' ng-click="trail.closeModal()">close</i>
            <div class="sidebar-logo">
                <p class="simple-text">{{trail.location.name}}</p>
            </div>
            <div style="margin:5px; text-align:center">
                <img  width='80px' src="{{trail.location.img}}">
            </div>
            <div style="margin:5px">
                <p class="white-text">{{trail.location.description}}</p>
            </div>
            <div style="margin:5px">
                    <p class="white-text">Opening Hour</p>
                <p class="white-text">{{trail.location.hours}}</p>
            </div>
        </div>
    </ul>

      
         
    
    

</div>