<div class="row" style="text-align:center">
    <div class="col s12 pink darken-4" style="opacity: 0.65; margin-top:-55px; margin-bottom: 15px">
        <h5 class="brand-title" style="font-size:30px">Gastronomical Journey in Chinatown</h5>
    </div>
  
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2 class="da-title"> Introduction </h2>
            <img src="assets/img/coolie.png" width="100" style="margin-left:250px; margin-top:15px" ></img>
            <p class="da-text">Join Ah Wong, a coolie from Singapore's history, as he brings you through a Gastronomical journey around Chinatown. Explore the F&B scene and have a taste of the different delicacies as well as  a deeper understanding about the culture and history of the F&B scene in Chinatown. What are waiting for? Your journey awaits!</p>

            <!--<div class="da-img"><img src="img/motivation.png" style="width:300px; height:260px" alt="image01" /></div>-->
        </div>
        <div class="da-slide">
            <h2 class="da-title">Trails</h2>
            <p class="da-text">"It's the way you ride the trail that counts", Dale Evans </p>

            <!--<div class="da-img"><img src="img/analytics.png" style="width:500px; height:260px" alt="image01" /></div>-->
        </div>
        <div class="da-slide">
            <h2 class="da-title">Fun</h2>
            <p class="da-text">"Fun is one of the most important - and underrated - ingredients in any successful venture. If you're not having fun, then it's probably time to call it quits and try something else", Richard Branson</p>

            <!--<div class="da-img"><img src="img/solution.png" style="width:350px; height:260px" alt="image01" /></div>-->
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev">
                </span>
            <span class="da-arrows-next"></span>
        </nav>

    </div>
    

    <script type="text/javascript">
        $(function() {
            $('#da-slider').cslider({
                autoplay	: true,
                bgincrement	: 950
            });
        });
    </script>

    <a class="btn-floating btn-large waves-effect waves-light red" href="/trail"><i class="material-icons">arrow_forward</i></a>
    </br>
</div>