<!--<div style="width:300px; height:300px">
    <a-scene embedded arjs='trackingMethod: best; debugUIEnabled: false;'>
        <a-anchor hit-testing-enabled='true'>
            <a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>
        </a-anchor>
        <a-camera-static/>
    </a-scene>
</div>-->

<!--<div style="width:300px; height:300px">
    <a-scene embedded arjs='trackingMethod: best; debugUIEnabled: false; sourceType: webcam;'>
            <a-video id="inputVideo" src="bunny.mp4" width="2" height="2" position="0 0 0" webkit-playsinline playsinline controls></a-video> 
                <a-assets>
                        <a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>
                    <video id="video" preload="none" poster="xxxxxxx" src="bunny.mp4"></video>
                </a-assets>
       
        <a-camera-static/>
    </a-scene>
                        
       
</div>-->

<button id="play-button">Play</button>
<!-- add arjs into your scene -->
<a-scene arjs artoolkit auto-enter-vr="display:all">
        <a-assets>

            <video preload="auto"  autoplay="true" id="video" loop="true" src="assets/video/Eu_Yan_Sang.mp4" type="video/mp4" webkit-playsinline playsinline  ></video>
        </a-assets>
        <!-- define a marker -->
        <a-anchor hit-testing-enabled='true'>
            <!-- define the content to be displayed on top of the marker 
            <a-box color="#2EAFAC"></a-box>-->
            <a-video id="inputVideo" visible="true" yeah autoplay="true" class="video" src="#video" webkit-playsinline playsinline 
            width="3" height="1" position="0 0 0" rotation="0 0 0"  material="shader: flat; src: #video;" scale="-1 1 1"></a-video> 
        </a-anchor>
        <!-- define a simple camera -->
        <a-camera-static/>
</a-scene>


