<!--<div style="width:300px; height:300px">
    <a-scene embedded arjs='trackingMethod: best; debugUIEnabled: false;'>
        <a-anchor hit-testing-enabled='true'>
            <a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>
        </a-anchor>
        <a-camera-static/>
    </a-scene>
</div>-->

<!--<div style="width:300px; height:300px">
    <a-scene embedded arjs='trackingMethod: best; debugUIEnabled: false; sourceType: webcam;'>
            <a-video id="inputVideo" src="bunny.mp4" width="2" height="2" position="0 0 0" webkit-playsinline playsinline controls></a-video> 
                <a-assets>
                        <a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>
                    <video id="video" preload="none" poster="xxxxxxx" src="bunny.mp4"></video>
                </a-assets>
       
        <a-camera-static/>
    </a-scene>
                        
       
</div>-->

<button id="play-button">Play</button>

<!--<a-scene id="vr-scene">
  <a-camera 
    id="camera"
    position="0 1.8 4"
    cursor-visible="true"
    cursor-scale="2" 
    cursor-color="#000000" 
    cursor-offset="2" 
    cursor-maxdistance="100"
    cursor-opacity="0.7"></a-camera>
 
  <a-assets>
    <video id="vid" src="https://ucarecdn.com/bcece0a8-86ce-460e-856b-40dac4875f15/"
    crossOrigin="anonymous"
    autoplay="false"
    loop="true"
    style="display: none"></video>
  </a-assets>
 
  <a-entity geometry="primitive: sphere;
                      radius: 5000;
                      segmentsWidth: 64;
                      segmentsHeight: 64;"
            material="shader: flat; src: #vid;"
            scale="-1 1 1">
  </a-entity>

</a-scene>-->

<!--<a-scene environment="preset: starry" class="fullscreen" canvas="" inspector="" keyboard-shortcuts="" screenshot="" vr-mode-ui="" fog="">
    <a-assets>
      
    <img id="boxTexture" src="https://i.imgur.com/mYmmbrp.jpg" crossorigin="anonymous"></a-assets>
    
    <a-box position="0 2 -5" rotation="0 45 45" scale="2 2 2" src="#boxTexture" visible="" material="" geometry="">
      <a-animation attribute="position" direction="alternate" dur="2000" repeat="indefinite" to="0 2.2 -5"></a-animation>
      <a-animation attribute="rotation" begin="click" dur="2000" to="360 405 45"></a-animation>
      <a-animation attribute="scale" begin="mouseenter" dur="300" to="2.3 2.3 2.3"></a-animation>
      <a-animation attribute="scale" begin="mouseleave" dur="300" to="2 2 2"></a-animation>
    </a-box>

    <a-camera position="0 1 4" cursor-visible="true" cursor-scale="2" cursor-color="#0095DD" cursor-opacity="0.5"></a-camera>
    <a-text value="Hello, A-Frame!" color="#FAFAFA" position="-0.9 0.2 -3" scale="1.5 1.5 1.5" rotation="" visible="" text=""></a-text>
</a-scene>-->

<a-scene>
    <a-sky src="assets/video/Eu_Yan_Sang.mp4"></a-sky>>
    <a-assets>
      
    <img id="boxTexture" src="https://i.imgur.com/mYmmbrp.jpg" crossorigin="anonymous"></a-assets>
    
    <a-box position="0 2 -5" rotation="0 45 45" scale="2 2 2" src="#boxTexture" visible="" material="" geometry="">
      <a-animation attribute="position" direction="alternate" dur="2000" repeat="indefinite" to="0 2.2 -5"></a-animation>
      <a-animation attribute="rotation" begin="click" dur="2000" to="360 405 45"></a-animation>
      <a-animation attribute="scale" begin="mouseenter" dur="300" to="2.3 2.3 2.3"></a-animation>
      <a-animation attribute="scale" begin="mouseleave" dur="300" to="2 2 2"></a-animation>
    </a-box>

    <a-camera position="0 1 4" cursor-visible="true" cursor-scale="2" cursor-color="#0095DD" cursor-opacity="0.5"></a-camera>
    <a-text value="Hello, A-Frame!" color="#FAFAFA" position="-0.9 0.2 -3" scale="1.5 1.5 1.5" rotation="" visible="" text=""></a-text>
</a-scene>

<!-- add arjs into your scene 
<a-scene arjs artoolkit auto-enter-vr="display:all">
        <a-assets>

            <video preload="auto"  autoplay="true" id="video" loop="true" src="assets/video/Eu_Yan_Sang.mp4" type="video/mp4" webkit-playsinline playsinline  ></video>
        </a-assets>-->
        <!-- define a marker 
        <a-anchor hit-testing-enabled='true'>-->
            <!-- define the content to be displayed on top of the marker 
            <a-box color="#2EAFAC"></a-box>-
    
            <a-video id="inputVideo" visible="true" yeah autoplay="true" class="video" src="#video" webkit-playsinline playsinline 
            width="4" height="1" position="0 0 0" rotation="0 360 180"  material="shader: flat; src: #video;" scale="-1 1 1">
                <button id="play-button"><i class="material-icons">play_arrow</i></button>
                <button id="pause-button"><i class="material-icons">pause</i></button>
            </a-video>->

    
        </a-anchor>
        <!-- define a simple camera -
        <a-camera-static/>
</a-scene>->


