<div>
    <div class="carousel" style="margin-top:10px">
        <a class="carousel-item" href="#one!"><img class="carousel-item-image" src="https://thumbs.dreamstime.com/b/night-view-chinese-temple-singapore-chinatown-buddha-tooth-relic-city-skyline-background-all-logos-65528464.jpg"></a>
        <a class="carousel-item" href="#two!"><img class="carousel-item-image" src="http://static.asiawebdirect.com/m/phuket/portals/www-singapore-com/homepage/top10/top10-chinatown-singapore/pagePropertiesImage/singapore03.jpg"></a>
        <a class="carousel-item" href="#three!"><img class="carousel-item-image" src="http://www.singaporetravelholic.com/sites/live.travelholic.site.gsi.sg/files/RHBD8-1%20%282%29.jpg"></a>
        <a class="carousel-item" href="#four!"><img class="carousel-item-image" src="http://english.vov.vn/Uploaded/hoabinh/2015_08_22/den%201%20ok.jpg"></a>
        <a class="carousel-item" href="#five!"><img class="carousel-item-image" src="https://www.walldevil.com/wallpapers/a89/chinatown-singapore-asia.jpg"></a>
    </div>

    <div>
        <video id="inputVideo" src="assets/video/4k Free Timelapse - Singapore Chinatown traffic and lanterns.mp4" width="2" height="2" position="0 0 0"></video>
    </div>
</div>