<div style="overflow-y:scroll">
    <h3 style="font-family: 'Poiret One', cursive;">Photos</h3>
    <div class="carousel" style="margin-top:10px">
        <a class="carousel-item" href="#one!"><img class="carousel-item-image" src="assets/img/eu_yan_sang_boss.png"></a>
        <a class="carousel-item" href="#two!"><img class="carousel-item-image" src="https://thumbs.dreamstime.com/b/night-view-chinese-temple-singapore-chinatown-buddha-tooth-relic-city-skyline-background-all-logos-65528464.jpg"></a>
        <a class="carousel-item" href="#three!"><img class="carousel-item-image" src="http://static.asiawebdirect.com/m/phuket/portals/www-singapore-com/homepage/top10/top10-chinatown-singapore/pagePropertiesImage/singapore03.jpg"></a>
        <a class="carousel-item" href="#four!"><img class="carousel-item-image" src="http://www.singaporetravelholic.com/sites/live.travelholic.site.gsi.sg/files/RHBD8-1%20%282%29.jpg"></a>
        <a class="carousel-item" href="#five!"><img class="carousel-item-image" src="http://english.vov.vn/Uploaded/hoabinh/2015_08_22/den%201%20ok.jpg"></a>
        <a class="carousel-item" href="#six!"><img class="carousel-item-image" src="https://www.walldevil.com/wallpapers/a89/chinatown-singapore-asia.jpg"></a>
    </div>

    <h3 style="font-family: 'Poiret One', cursive;">Videos</h3>
    <div style="height:200px">
        <video preload="auto"  autoplay="false" id="my-video-1" loop="false" ource src="assets/video/Eu_Yan_Sang.mp4" type="video/mp4" webkit-playsinline playsinline controls muted></video>
    </div>
</div>